@font-face {
  font-family: 'Satoshi Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Satoshi Regular'), url('fonts/Satoshi-Regular.woff') format('woff');
}


@font-face {
  font-family: 'Satoshi Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Satoshi Italic'), url('fonts/Satoshi-Italic.woff') format('woff');
}


@font-face {
  font-family: 'Satoshi Light';
  font-style: normal;
  font-weight: normal;
  src: local('Satoshi Light'), url('fonts/Satoshi-Light.woff') format('woff');
}


@font-face {
  font-family: 'Satoshi Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Satoshi Light Italic'), url('fonts/Satoshi-LightItalic.woff') format('woff');
}


@font-face {
  font-family: 'Satoshi Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Satoshi Medium'), url('fonts/atoshi-Medium.woff') format('woff');
}


@font-face {
  font-family: 'Satoshi Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Satoshi Medium Italic'), url('Satoshi-MediumItalic.woff') format('woff');
}


@font-face {
  font-family: 'Satoshi Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Satoshi Bold'), url('Satoshi-Bold.woff') format('woff');
}


@font-face {
  font-family: 'Satoshi Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Satoshi Bold Italic'), url('fonts/Satoshi-BoldItalic.woff') format('woff');
}


@font-face {
  font-family: 'Satoshi Black';
  font-style: normal;
  font-weight: normal;
  src: local('Satoshi Black'), url('fonts/Satoshi-Black.woff') format('woff');
}


@font-face {
  font-family: 'Satoshi Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Satoshi Black Italic'), url('fonts/Satoshi-BlackItalic.woff') format('woff');
}

@font-face {
  font-family: 'IntegralCF';
  src: url('fonts/Fontspring-DEMO-integralcf-bold.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}



















body {
  font-family: 'Satoshi Regular', sans-serif;
  background-color: #fff;
}

h1,
h2 {
  font-family: 'Satoshi Bold', sans-serif;
}
.sTop{
  height: 38px;
  font-size: 14px;
}
.xicon{
left:25%;
position:relative;
}


.searchBar {
  width: 600px;
  border-radius: 62px;
  margin-right: 20px;
}

.inp {
  border-radius: 62px;
  border: none;
  background-color: #f0f0f0;
}

.searchicon {
  position: relative;
  left: 34px;
  top: 6px;
  z-index: 1;
  height: 100%;
  display: flex;

}

.imgpro {
  margin-right: 100px;
  margin-left: 15px;
}

.imgcart {
  margin-left: 20px;

}

.searchiconsm {
  display: none;

}

.mains {
  background: #f0f0f0;
  padding-left: auto;
  padding-right: auto;
}

.mainTitle {
  font-family: 'IntegralCF', sans-serif;
  font-size: 64px;
  line-height: 1.2;
  color: #000;
}

.mainText {
  font-family: 'Satoshi Regular', sans-serif;
  font-size: 16px;
  color: #555;
  max-width: 500px;
}

.mainStats h3 {
  font-family: 'Satoshi Bold', sans-serif;
  font-size: 40px;
  color: #000;
}

.mainStext{
    font-size: 14px;
    font-family: 'Satoshi Bold', sans-serif;
    color: #666;
  }
.cont{

  position: relative;
  display: inline-block;
}
.mainImg {
  width: 100%;
  max-width: 550px;
  max-height: 100%;
  height: auto;
  transform: scale(1.2);
  clip-path: inset(30px 0 220px 0);
  z-index: 0;

}
.smallsr{
  z-index: 1;
  top: 30%;
  left: 5%;
  position: absolute;
}
.bigsr{
  z-index: 1;
  top: 6%;
  right: 10%;
  position: absolute;
}
.brandBar{
  background: #000;
  padding: 24px 0;
  margin-top: -240px;
  z-index: 5;
  position: relative;
  margin-bottom:20px;
}

.brandList{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:24px;              
}

.shnowbtn{
  width:210px;
  height:52px;

}

.brandLogo{
  height:28px;
  object-fit:contain;
}
 
.brandLogoWide{ height:32px; }


.fix{
  margin-top: -65px;
}
.newArrivals .fix {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: #fff;
  padding: 50px 0;
}


.sectionTitle{
  font-family:'IntegralCF',sans-serif;
  font-weight:900;
  font-size:34px;
}

.productCard{
  background:#fff;
  transition:transform .3s ease, box-shadow .3s ease;
}
.productCard:hover{
  transform:translateY(-5px);
  box-shadow:0 6px 18px rgba(0,0,0,.08);
}

.productImg{
  width:100%;
  border-radius:12px;
}

.productName{
  font-family:'Satoshi Bold',sans-serif;
  font-size:15px;
  color:#111;
  font-weight: 700;
}

.rating{
  width: 120px;
  margin-top: -15px;
}

.productPrice{
  font-family:'Satoshi Bold',sans-serif;
  font-size:16px;
  color:#000;
  font-weight: 700;
  margin-top: -10px;

}
.discount {
  font-size: 12px;
  font-weight: 500;
  background-color: rgb(255, 229, 229);
  border-radius: 20px;
  border-style: none;
}

.browseStyle {
  background-color: #fff;
  
}
.bigrid{
  background-color: #f0f0f0;
  border-radius: 30px;
  height: 700px;
}
.styleText{
  padding: 50px;
}
.allCards{
  padding: 0 50px;
}
.styleCard {
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
}


.styleCard img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 30px;
  object-position: center top;

}

.styleName {
  font-family: 'Satoshi Bold', sans-serif;
  font-size: 18px;
  color: #000;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 12px;
}

.subDiv{
  padding-left: 60px;
  border-radius: 40px;
}

.subText{
  font-family:'IntegralCF',sans-serif;
  font-weight:900;
  font-size:40px;
  color: white;
  padding-top: 24px;
}


.nlForm{
  width: 358px;
  height:50px;
  margin-bottom:20px;
  margin-left: 170px;
  margin-top: 20px;
}
.mailIcon{
  position: relative;
  left: 40px;
  top: 10px;
  z-index: 1;
  height: 32px;
  width: 30px;

}
.subbut{
  width:328px;
  height:50px;
  margin-left: 115px;

}

@media (max-width: 390px) {
  body {
    font-size: 12px;
    overflow-x: hidden;
  }
  .container, .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .sTop{font-size: 14px;}
  .fullNav{
    padding-left:5px;
  }

  .searchBar {
    display: none;
  }

  .imgpro {
    margin-right: 4px;
    margin-left: 4px;
  }

  .imgcart {
    margin-right: 4px;
    margin-left: 4px;

  }
  .shnowbtn{
  width:358px;
  height:52px;
  align-self: center;

  }
  .searchiconsm {
    display: inline;
    
  }
  .mainTitle {
    font-size: 36px;
    text-align: start;
    padding-left: 10px;
  }
  .xicon{
    padding-left: 2px;
    position:static;
  }

  .mainStats {
    font-family: 'Satoshi Bold', sans-serif;
    margin-top: 20px;
    font-size: 12px;
    flex-wrap: wrap;
  }
  .mainStext{ 
    font-size: 14px;
  }

  .mainStats h3 {
    font-size: 24px;
    font-family: 'Satoshi Bold', sans-serif;
  }

  .mainImg {
    clip-path: inset(30px 0 160px 0);
    max-width: 400px;
  }
  .brandList{
    justify-content:space-around;  
    flex-wrap:wrap;                 
    row-gap:16px;
  }
  .brandBar{
    margin-top: -200px;
    margin-bottom:20px;
  }
  .brandLogo{ height:22px; }
  .brandLogoWide{ height:24px; }
  .fix{
    margin-top: -70px;
    width: 100%;
    padding: 0 0 0 0;
  }
  .sectionTitle{font-size:24px;}
  .productName{font-size:13px;}
  .productPrice{font-size:14px;}
  .productCard{padding:10px;}
  .rating{
    width:100px;
  }
  .discount{
    font-size: 10px;
    font-weight: 500;
  }
    .browseStyle {
    padding: 40px 20px;
    border-radius: 0;
  }
  .bigrid{
    background-color: #f0f0f0;
    border-radius: 30px;
    height: 860px;
  }
  .styleCard img {
    height: 150px;
    object-position: center left;
  }

  .styleName {
    font-size: 16px;
    text-align: left;
    padding-left: 8px;
  }


  .nlsec{
    background-color: #fff;

  }
  .subDiv{
    width: 350px;
    height: 350px;
    padding-bottom:50px;
    padding-left:0;
    padding-right:0;
  }

  .subText{
    font-family:'IntegralCF',sans-serif;
    font-weight:900;
    font-size:32px;
    color: white;
    text-align: start;
    padding-left:25px;
    padding-right:25px;
  }


  .nlForm{
    width: 288px;
    height:50px;
    margin-bottom:20px;
    margin-left: 30px;
    margin-top: 10px;
  }
  .mailIcon{
    position: relative;
    left: -120px;
    top: 35px;
    z-index: 1;
    height: 32px;
    width: 30px;
  }
  .subbut{
    width:288px;
    height:42px;
    margin-bottom:20px;
    margin-left: 0;
    margin-top: 10px;
  }
}
